 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

 }
 body{
    background-color: rgb(219, 215, 215);
 }
 header{
    background-color: #d9eed9;
    height: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
 }
 ul{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 20px;
 }
 ul li a{
    text-decoration: none;
    list-style-type: none;
    padding-right: 20px;
    color: #4CAF50;

 }
 ul li a:hover{
    background-color:gray;
 }
 main{
    width: 1100px;
    margin: 50px auto;
 }
 img{
    width: 250px;
    height:auto ;
 }
 .product-list{
    display: flex;
    width: 970px;
    margin: 10px auto;
 }
article{
    background: white;
    margin-left: 50px;
   
    width: 350px;
    height:550px ;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}
h2{
    padding: 10px;
}
p{
    padding: 10px;
}
.price{
    color: green;
}
footer{
    text-align: center;
    background-color: #124314;
    
    height: 60px;
    padding-top: 10px;


}
@media (max-width: 550px){
   header{
      width: 100%;
      height: auto;
      
   }

   .product-list{
      
      flex-direction: column;
      transition: all 0.3s ease;
   }
   footer{
      width: 100%;
      height: auto;
      
     
   }
   main{
      width: 100%;
   }
   .product{
      gap: 10px;
      margin-bottom: 10px;
        
   }
}
